<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>超级富豪收益</title>
  <!-- 引入 echarts.js -->
  <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
</head>

<body>
  <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
  <div id="main" style="width: 600px;height:400px;"></div>
  <script type="text/javascript">
    Date.prototype.format = function (fmt) { //author: meizz
      var o = {
        "M+": this.getMonth() + 1, //月份
        "d+": this.getDate(), //日
        "h+": this.getHours(), //小时
        "m+": this.getMinutes(), //分
        "s+": this.getSeconds(), //秒
        "q+": Math.floor((this.getMonth() + 3) / 3), //季度
        "S": this.getMilliseconds() //毫秒
      };
      if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
      for (var k in o)
        if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : ((
          "00" + o[k]).substr(("" + o[k]).length)));
      return fmt;
    }

    const main = async () => {
      // 加载数据
      const bill = await fetch('/billquery').then(resp => resp.json())
      const keys = Object.keys(bill)
      const date = keys.map(t => new Date(Number(bill[t].ts)).format('yy-MM-dd'))
      const dataQc = keys.map(t => (Number(bill[t].dayQc)).toFixed(2))
      const dataBrc = keys.map(t => (Number(bill[t].dayBrc)).toFixed(2))
      // 基于准备好的dom，初始化echarts实例
      const myChart = echarts.init(document.getElementById('main'))
      // 指定图表的配置项和数据
      const option = {
        tooltip: {
          trigger: 'axis',
          position: function (pt) {
            return [pt[0], '10%'];
          }
        },
        title: {
          left: 'center',
          text: '超级富豪每日产量',
        },
        grid: {
          show: false,
        },
        toolbox: {
          feature: {
            dataZoom: {
              yAxisIndex: 'none'
            },
            restore: {},
            saveAsImage: {}
          }
        },
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'cross',
            animation: true,
            label: {
              backgroundColor: '#505765'
            }
          }
        },
        xAxis: {
          type: 'category',
          boundaryGap: false,
          data: date
        },
        yAxis: [{
          name: 'QC/日',
          type: 'value',
          scale: true,
          boundaryGap: ['50%', '0%']
        }, {
          name: 'BRC/日',
          type: 'value',
          boundaryGap: ['0%', '80%'],
          splitLine: {
            show: false
          },
        }],
        dataZoom: [{
          type: 'inside',
          start: 85,
          end: 100
        }, {
          start: 0,
          end: 10,
          handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
          handleSize: '80%',
          handleStyle: {
            color: '#fff',
            shadowBlur: 3,
            shadowColor: 'rgba(0, 0, 0, 0.6)',
            shadowOffsetX: 2,
            shadowOffsetY: 2
          }
        }],
        legend: {
          data: ['QC/日', 'BRC/日'],
          x: 'left'
        },
        series: [{
          name: 'QC/日',
          type: 'line',
          smooth: true,
          symbol: 'qc',
          sampling: 'average',
          itemStyle: {
            color: 'rgb(255, 70, 131)'
          },
          areaStyle: {
            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
              offset: 0,
              color: 'rgb(255, 158, 68)'
            }, {
              offset: 1,
              color: 'rgb(255, 70, 131)'
            }])
          },
          data: dataQc
        }, {
          name: 'BRC/日',
          type: 'line',
          yAxisIndex: 1,
          smooth: true,
          symbol: 'brc',
          sampling: 'average',
          itemStyle: {
            color: 'rgb(70, 80, 255)'
          },
          areaStyle: {
            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
              offset: 0,
              color: 'rgb(158, 68, 255)'
            }, {
              offset: 1,
              color: 'rgb(70, 131, 255)'
            }])
          },
          data: dataBrc
        }, ]
      };
      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);
    }

    main()
  </script>
</body>

</html>